<div id="contentMain" class="jumbotron" ng-controller = "ContentCtrl">
    <p>Faq</p>

    <accordion close-others="true" >
        <accordion-group heading="{{question.title}}" ng-repeat="question in questions" is-open="status.isItemOpen[$index]">
            {{question.content}}
        </accordion-group>
    </accordion>

</div>