<div ng-repeat="n in news" >
    <div class="well" >
        <div>{{n.title }}</div> <div ng-bind-html="n.content"></div>
        <a href = "" ng-click="open()" ui-sref = "news-detail({nId:n.id})">Detail</a>
    </div>
</div>